.nav-right-text {
  float: right;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.oneline-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.clearfix:after {
  content: '';
  display: block;
  clear: both;
}
.hide {
  display: none;
}
.show {
  display: block;
}
.err-tip-bd {
  border-color: red;
}
.err-tip-bd.tip-with-bd {
  border: 1px solid red !important;
}
.err-tip-color {
  color: red;
}
.err-tip-bg {
  background-color: red;
}
#important .err-tip-bd {
  border-color: red !important;
}
#important .err-tip-color {
  color: red !important;
}
#important .err-tip-bg {
  background-color: red !important;
}
.select-with-arrow {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  background: url('../images/select-arrow.png') no-repeat center right 0.1rem;
  background-size: 0.2rem;
  padding-right: 0.1rem;
}
.text-center {
  text-align: center;
}
p {
  margin: 0;
}
.non-heading-content {
  padding-top: 2.04rem !important;
}
a,
span,
p,
button,
input,
textarea,
i,
pre {
  font-size: 0.48rem !important;
  line-height: 0.6rem;
  word-break: break-all;
}
pre {
  white-space: pre-wrap;
}
button,
input,
textarea,
select {
  outline: none;
}
.title-text {
  font-size: 0.66rem !important;
}
.commit-text {
  font-size: 0.42rem !important;
}
.mini-text {
  font-size: 0.36rem !important;
}
.oneline-list-item {
  line-height: 1.44rem;
}
.mui-bar-nav {
  padding: 0.6rem 0.36rem 0;
  height: 2.04rem;
}
.mui-bar-nav .mui-icon {
  padding-top: 0;
}
.mui-bar-nav .indexTitleBox {
  overflow: visible;
  position: static !important;
}
.mui-bar-nav .indexTitleBox img {
  margin-top: 0.39rem !important;
}
.mui-bar-nav .indexTitleBox div {
  overflow: visible !important;
}
.mui-bar-nav a,
.mui-bar-nav h1,
.mui-bar-nav button,
.mui-bar-nav p {
  line-height: 1.44rem !important;
  padding: 0;
  font-size: 0.54rem !important;
  color: #ffffff;
  white-space: nowrap;
}
.mui-bar-nav button {
  margin: 0;
}
.mui-bar-nav .header-bottom-info {
  color: #ffffff;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
}
.mui-bar-nav .header-bottom-info span {
  font-size: 0.36rem !important;
}
.full-screen-notice-mask {
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
}
.full-screen-notice-mask.hide {
  display: none;
}
.full-screen-notice-mask .inner-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border-radius: 0.06rem;
  padding: 0.84rem 0.42rem;
  width: 4.02rem;
  text-align: center;
}
.full-screen-notice-mask .inner-box p {
  color: #5e5e5e;
}
.standard-list {
  padding-left: 0.24rem;
  background-color: #fff;
  border-bottom: 0.03rem solid #dddddd;
}
.standard-list > li {
  padding: 0.42rem 0.24rem 0.42rem 0;
}
.standard-list > li:not(:last-child) {
  border-bottom: 0.03rem solid #dddddd;
}
html,
body {
  height: 100%;
}
.center-box {
  height: 100%;
  overflow: auto;
}
.center-box > div {
  height: 100%;
}
.center-box .main-box-inner {
  height: 100%;
  overflow: auto;
  background-color: #fff;
}
.showTop .header-component {
  background-color: #fff;
}
.showTop .center-box {
  padding: 2.07rem 0 0;
}
.showTop .bottom-box {
  display: none;
}
.showBottom {
  padding: 0 0 1.72rem;
}
.showBottom .header-box .header-component {
  height: 0.6rem;
}
.showBottom .center-box > div > div {
  padding-top: 0.6rem;
}
.showBoth .header-component {
  background-color: #fff;
}
.showBoth .center-box {
  padding: 2.07rem 0 1.72rem;
}
.showNone .header-box .header-component {
  height: 0.6rem;
}
.showNone .center-box > div > div {
  padding-top: 0.6rem;
}
.showNone .bottom-box {
  display: none;
}
.header-component {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9;
  padding-top: 0.6rem;
  overflow: hidden;
  height: 2.07rem;
}
.header-component .header-container {
  border-bottom: 0.03rem solid #dddddd;
  padding: 0 0.24rem;
}
.header-component .header-container span,
.header-component .header-container p,
.header-component .header-container i {
  font-size: 0.54rem !important;
}
.header-component .header-container .left,
.header-component .header-container .right {
  width: 30%;
  height: 1.44rem;
}
.header-component .header-container .right {
  text-align: right;
}
.header-component .header-container .center p {
  font-weight: 700;
  color: #000;
}
.bottom-page {
  background-color: #fff;
  border-top: 0.03rem solid #dddddd;
  height: 1.72rem;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 9;
  overflow: hidden;
}
.bottom-page .button-list li {
  padding-top: 0.12rem;
  text-align: center;
  float: left;
  width: 20%;
}
.bottom-page .button-list li i {
  font-size: 0.72rem !important;
  line-height: 0.72rem;
}
.bottom-page .button-list li.active span,
.bottom-page .button-list li.active i {
  color: #25cdcd;
}
.my-page .top {
  margin: -0.6rem 0 0;
  padding: 1.02rem 0.24rem 0.24rem;
  background-color: #25cdcd;
}
.my-page .top p,
.my-page .top span,
.my-page .top i {
  color: #fff;
}
.my-page .top .person-info {
  margin-bottom: 0.48rem;
}
.my-page .top .person-info > div {
  display: inline-block;
}
.my-page .top .person-info .photo {
  border-radius: 50%;
  overflow: hidden;
  border: 0.03rem solid #fff;
  width: 2.1rem;
  height: 2.1rem;
}
.my-page .top .person-info .photo img {
  width: 100%;
}
.my-page .top .person-info .right-button-list {
  padding-top: 0.6rem;
}
.my-page .top .person-info .right-button-list li {
  margin-left: 0.24rem;
  float: left;
}
.my-page .top .person-info .right-button-list li p {
  text-align: center;
}
.my-page .top .person-info .info {
  padding-left: 0.24rem;
  width: 50%;
}
.my-page .top .person-info .info p.rate {
  line-height: 0.66rem;
}
.my-page .top .work-info > div {
  width: 50%;
}
.my-page .top .work-info .right-part {
  position: relative;
}
.my-page .top .work-info .right-part:before {
  content: '';
  position: absolute;
  width: 0.03rem;
  height: 80%;
  top: 0;
  left: 0;
  background-color: #fff;
}
.module-title {
  line-height: 1.44rem;
  text-indent: 0.48rem;
  position: relative;
  font-weight: 700;
}
.module-title:before {
  content: '';
  width: 0.12rem;
  height: 0.6rem;
  background-color: #25cdcd;
  position: absolute;
  top: 0.42rem;
  left: 0;
}
.nav-right-text {
  position: absolute;
  right: 0.36rem;
  z-index: 3;
}
.main-color {
  color: #25cdcd !important;
}
.main-bgc {
  background-color: #25cdcd !important;
}
.gray-bgc {
  background-color: #f0f0f0 !important;
}
.white-bgc {
  background-color: #fff !important;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.clearfix:after {
  content: '';
  display: block;
  clear: both;
}
.hide {
  display: none;
}
.show {
  display: block;
}
.err-tip-bd {
  border-color: red !important;
}
.err-tip-bd.tip-with-bd {
  border: 0.03rem solid red !important;
}
.err-tip-bd + .err-tip-bd:not(:last-child) {
  border-top: none !important;
}
.err-tip-color {
  color: red;
}
.err-tip-bg {
  background-color: red;
}
.err-tip-bd {
  border: 1px solid red;
}
.err-tip-bd + .err-tip-bd {
  border-top: none;
}
#important .err-tip-bd {
  border-color: red !important;
}
#important .err-tip-color {
  color: red !important;
}
#important .err-tip-bg {
  background-color: red !important;
}
.select-with-arrow {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  background: url('../images/select-arrow.png') no-repeat center right 0.1rem;
  background-size: 0.2rem;
  padding-right: 0.1rem;
}
.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.x-center {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.y-center {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.xy-center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
p {
  margin: 0;
}
.non-heading-content {
  padding-top: 2.04rem !important;
}
.index-page button,
.index-page input,
.index-page textarea,
.index-page select {
  padding: 0.42rem;
}
.img-font {
  font-size: 2.4rem !important;
}
.font-large {
  font-size: 0.66rem !important;
}
.font-small {
  font-size: 0.42rem !important;
}
.font-mini {
  font-size: 0.36rem !important;
}
.font-gray {
  color: #666 !important;
}
.font-black {
  color: #333 !important;
}
.orange {
  color: orange !important;
}
.blue {
  color: blue !important;
}
.green {
  color: #33cc99 !important;
}
.red {
  color: red !important;
}
.yellow {
  color: yellow !important;
}
.black {
  color: black !important;
}
.white {
  color: white !important;
}
.right0 {
  right: 0;
}
.left0 {
  left: 0;
}
.top0 {
  top: 0;
}
.bottom0 {
  bottom: 0;
}
.border {
  border: 0.03rem solid #dddddd;
}
.border-top {
  border-top: 0.03rem solid #dddddd;
}
.border-bottom {
  border-bottom: 0.03rem solid #dddddd;
}
.border-left {
  border-left: 0.03rem solid #dddddd;
}
.border-right {
  border-right: 0.03rem solid #dddddd;
}
.border-none {
  border: none;
}
pre {
  white-space: pre-wrap;
}
button,
input,
textarea,
select {
  outline: none;
}
.title-text {
  font-size: 0.66rem !important;
}
.commit-text {
  font-size: 0.42rem !important;
}
.mini-text {
  font-size: 0.36rem !important;
}
.font-black {
  color: #333;
}
.oneline-list-item {
  line-height: 1.44rem !important;
}
.one-line-text {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.two-line-text {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.three-line-text {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.round {
  border-radius: 50%;
  overflow: hidden;
}
.disabled-ele {
  opacity: 0.4;
}
.mg-all {
  margin: 0.42rem !important;
}
.mg-l {
  margin-left: 0.42rem !important;
}
.mg-r {
  margin-right: 0.42rem !important;
}
.mg-t {
  margin-top: 0.42rem !important;
}
.mg-b {
  margin-bottom: 0.42rem !important;
}
.mg-lr {
  margin-left: 0.42rem !important;
  margin-right: 0.42rem !important;
}
.mg-tb {
  margin-top: 0.42rem !important;
  margin-bottom: 0.42rem !important;
}
.pd-all {
  padding: 0.42rem !important;
}
.pd-l {
  padding-left: 0.42rem !important;
}
.pd-r {
  padding-right: 0.42rem !important;
}
.pd-t {
  padding-top: 0.42rem !important;
}
.pd-b {
  padding-bottom: 0.42rem !important;
}
.pd-lr {
  padding-left: 0.42rem !important;
  padding-right: 0.42rem !important;
}
.pd-tb {
  padding-top: 0.42rem !important;
  padding-bottom: 0.42rem !important;
}
.posr {
  position: relative;
}
.posf {
  position: fixed;
}
.posa {
  position: absolute;
}
.w0 {
  width: 0% !important;
}
.w10 {
  width: 10% !important;
}
.w20 {
  width: 20% !important;
}
.w30 {
  width: 30% !important;
}
.w40 {
  width: 40% !important;
}
.w50 {
  width: 50% !important;
}
.w60 {
  width: 60% !important;
}
.w70 {
  width: 70% !important;
}
.w80 {
  width: 80% !important;
}
.w90 {
  width: 90% !important;
}
.w100 {
  width: 100% !important;
}
.mw10 {
  max-width: 10% !important;
}
.mw20 {
  max-width: 20% !important;
}
.mw30 {
  max-width: 30% !important;
}
.mw40 {
  max-width: 40% !important;
}
.mw50 {
  max-width: 50% !important;
}
.mw60 {
  max-width: 60% !important;
}
.mw70 {
  max-width: 70% !important;
}
.mw80 {
  max-width: 80% !important;
}
.mw90 {
  max-width: 90% !important;
}
.mw100 {
  max-width: 100% !important;
}
.iw10 {
  min-width: 10% !important;
}
.iw20 {
  min-width: 20% !important;
}
.iw30 {
  min-width: 30% !important;
}
.iw40 {
  min-width: 40% !important;
}
.iw50 {
  min-width: 50% !important;
}
.iw60 {
  min-width: 60% !important;
}
.iw70 {
  min-width: 70% !important;
}
.iw80 {
  min-width: 80% !important;
}
.iw90 {
  min-width: 90% !important;
}
.iw100 {
  min-width: 100% !important;
}
.h0 {
  height: 0% !important;
}
.h10 {
  height: 10% !important;
}
.h20 {
  height: 20% !important;
}
.h30 {
  height: 30% !important;
}
.h40 {
  height: 40% !important;
}
.h50 {
  height: 50% !important;
}
.h60 {
  height: 60% !important;
}
.h70 {
  height: 70% !important;
}
.h80 {
  height: 80% !important;
}
.h90 {
  height: 90% !important;
}
.h100 {
  height: 100% !important;
}
.mh10 {
  max-height: 10% !important;
}
.mh20 {
  max-height: 20% !important;
}
.mh30 {
  max-height: 30% !important;
}
.mh40 {
  max-height: 40% !important;
}
.mh50 {
  max-height: 50% !important;
}
.mh60 {
  max-height: 60% !important;
}
.mh70 {
  max-height: 70% !important;
}
.mh80 {
  max-height: 80% !important;
}
.mh90 {
  max-height: 90% !important;
}
.mh100 {
  max-height: 100% !important;
}
.ih10 {
  min-height: 10% !important;
}
.ih20 {
  min-height: 20% !important;
}
.ih30 {
  min-height: 30% !important;
}
.ih40 {
  min-height: 40% !important;
}
.ih50 {
  min-height: 50% !important;
}
.ih60 {
  min-height: 60% !important;
}
.ih70 {
  min-height: 70% !important;
}
.ih80 {
  min-height: 80% !important;
}
.ih90 {
  min-height: 90% !important;
}
.ih100 {
  min-height: 100% !important;
}
@keyframes circleround {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes circleround {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.full-screen-notice-mask {
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
}
.full-screen-notice-mask.hide {
  display: none;
}
.full-screen-notice-mask .inner-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border-radius: 0.15rem;
  overflow: hidden;
  padding: 0.84rem 0.42rem;
  box-shadow: 0 0 0.15rem #aaa;
  width: 4.02rem;
  text-align: center;
}
.full-screen-notice-mask .inner-box p {
  color: #5e5e5e;
}
.full-screen-notice-mask .confirm-box {
  width: 9rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border-radius: 0.15rem;
  overflow: hidden;
  box-shadow: 0 0 0.15rem #aaa;
}
.full-screen-notice-mask .confirm-box .title-info {
  text-align: center;
  padding: 0.42rem 0.24rem 0;
  color: #333;
}
.full-screen-notice-mask .confirm-box .content-box {
  padding: 0.42rem 0.24rem;
}
.full-screen-notice-mask .confirm-box .content-box p {
  text-align: center;
  color: #333;
}
.full-screen-notice-mask .confirm-box .confirm-button-box button {
  border-radius: 0;
  border: none;
  padding: 0.42rem 0;
  text-align: center;
  width: 50%;
  border-top: 0.03rem solid #dddddd;
}
.full-screen-notice-mask .confirm-box .confirm-button-box button:nth-child(1) {
  border-right: 0.03rem solid #dddddd;
}
.full-screen-notice-mask .confirm-box .confirm-button-box button:nth-child(1) span {
  color: #666;
}
.full-screen-notice-mask .confirm-box .confirm-button-box button:nth-child(2) i.icon-loading {
  display: inline-block;
  animation: 2s linear infinite circleround;
  -webkit-animation: 2s linear infinite circleround;
}
.full-screen-notice-mask .confirm-box .confirm-button-box.confirm-single-button button:nth-child(1) {
  display: none;
}
.full-screen-notice-mask .confirm-box .confirm-button-box.confirm-single-button button:nth-child(2) {
  width: 100%;
}
.standard-line {
  padding: 0.42rem 0.24rem;
  background-color: #fff;
}
.standard-heigt {
  height: 1.44rem;
}
.standard-list {
  padding-left: 0.24rem;
  background-color: #fff;
  border-bottom: 0.03rem solid #dddddd;
}
.standard-list > li {
  list-style: none;
  padding: 0.42rem 0.24rem 0.42rem 0;
}
.standard-list > li:not(:last-child) {
  border-bottom: 0.03rem solid #dddddd;
}
.standard-card-list {
  padding: 0.24rem 0.24rem 0;
}
.standard-card-list > li {
  list-style: none;
  border: 0.03rem solid #dddddd;
  border-radius: 0.15rem;
  background-color: #fff;
  margin-bottom: 0.24rem;
}
.standard-card-list > li .card-title {
  padding: 0.48rem 0;
  border-bottom: 0.03rem solid #dddddd;
}
.standard-card-list > li .card-title > div {
  padding: 0 0.24rem;
}
.standard-card-list > li .card-title .title-content {
  padding: 0.48rem 0.24rem;
  border-bottom: 0.03rem solid #dddddd;
}
.standard-card-list > li .card-content {
  padding: 0.42rem 0.24rem 0.42rem 0.24rem;
}
input[type=color],
input[type=date],
input[type=datetime-local],
input[type=datetime],
input[type=email],
input[type=month],
input[type=number],
input[type=password],
input[type=search],
input[type=tel],
input[type=text],
input[type=time],
input[type=url],
input[type=week],
select,
textarea {
  margin: 0;
}
button.button,
input[type="button"].button {
  text-align: center;
  background-color: #25cdcd;
  color: #fff;
  border: none;
  border-radius: 0.06rem;
  overflow: hidden;
  width: auto;
  line-height: 0.6rem;
}
button.button.button-white,
input[type="button"].button.button-white {
  background-color: #fff;
  color: #25cdcd;
  padding: 0.39rem 0.42rem;
  border: 0.03rem solid #25cdcd;
}
.standard-list button.button,
.standard-list input[type="button"].button {
  padding: 0.21rem 0.42rem;
  margin-top: -0.21rem;
  margin-bottom: -0.21rem;
}
.standard-list button.button.button-white,
.standard-list input[type="button"].button.button-white {
  padding: 0.18rem 0.42rem;
}
button.button.list-button,
input[type="button"].button.list-button {
  padding: 0.21rem 0.42rem;
  margin-top: -0.21rem;
  margin-bottom: -0.21rem;
}
button.button.list-button.button-white,
input[type="button"].button.list-button.button-white {
  padding: 0.18rem 0.42rem;
}
input.inline-input {
  padding: 0;
  line-height: 0.6rem;
  min-width: 1.2rem;
  border: none;
  height: auto;
}
textarea.inline-textarea {
  padding: 0;
  border: none;
  margin: 0;
  min-height: 2.4rem;
}
