<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <div id="app">
    <ul>
      <li v-for="book in books"> 
        <!-- <li v-for="book of books">  同结果 -->
        <span v-text="book.name"></span>
      </li>
    </ul>
  </div>
  
  <script src="./vue.js"></script>
  <script>
    var app = new Vue({
      el: '#app',
      data: {
        books: [{
          name: 'book1'
        }, {
          name: 'book2'
        }, {
          name: 'book3'
        }] 
      },
      methods: {

      },
      computed: {

      },
      mounted: {

      }
    });
  </script>
</body>
</html>