<!DOCTYPE html>
<html lang="en" style="font-size: 36px;">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="../css/reset.css">
  <link rel="stylesheet" href="../css/main.css">
  <title>问卷调查</title>
  <style>
    button {
      text-align: center;
      min-width: 60px;
      background-color: #fff;
      padding: 5px;
      border: 1px solid #999;
      border-radius: 3px;
    }
    button[disabled] {
      background-color: #ddd;
    }
  </style>
</head>
<body>
  <div id="app">
    <div v-if="currentStep === 1">
      <p>1.单选题</p>
      <p>你的职业是什么?</p>
      <input type="radio" value="teacher" v-model="job" id="teacher"><label for="teacher"><span>教师</span></label>
      <input type="radio" value="it" v-model="job" id="it"><label for="it"><span>程序员</span></label>
    </div>

    <div v-if="currentStep === 2">
      <p>2.多选题</p>
      <p>你的爱好是什么?</p>
      <input type="checkbox" value="work" v-model="hobby" id="work"><label for="work"><span>工作</span></label>
      <input type="checkbox" value="travel" v-model="hobby" id="travel"><label for="travel"><span>旅游</span></label>
      <input type="checkbox" value="game" v-model="hobby" id="game"><label for="game"><span>游戏</span></label>
      <input type="checkbox" value="training" v-model="hobby" id="training"><label for="training"><span>锻炼</span></label>
    </div>

    <div v-if="currentStep === 3">
      <p>3.自由发挥</p>
      <p>您有什么建议?</p>
      <textarea v-model="text"></textarea>
    </div>
    

    <div class="bottom-button">
      <custom-button  @click="beforeStep" :disabled="currentStep === 1">
        <span>上一步</span>
      </custom-button>
      <custom-button @click="nextStep" :disabled="job === ''" v-if="currentStep === 1">
        <span>下一步</span>
      </custom-button>
      <custom-button @click="nextStep" :disabled="hobby.length < 2" v-if="currentStep === 2">
        <span>下一步</span>
      </custom-button>
      <custom-button @click="saveInfo" :disabled="text.length < 5" v-if="currentStep === 3">
        <span>保存</span>
      </custom-button>
      <custom-button @click="resetInfo">
        <span>重置</span>
      </custom-button>
    </div>
  </div>
  <script src="../vue.js"></script>
  <script src="../js/easy.js"></script>
  <script>
    Vue.component('custom-button', {
      template: `<button class="" :disabled="disabled" @click="clickButton">
        <slot></slot>
      </button>`,
      props: {
        disabled: {
          type: Boolean
        }
      },
      methods: {
        clickButton: function () {
          this.$emit('click');
        }
      }
    })
    var app = new Vue({
      el: '#app',
      data: {
        currentStep: 1,
        job: '',
        hobby: [],
        text: ''
      },
      methods: {
        nextStep: function () {
          if (this.currentStep < 3) {
            this.currentStep ++;
          }
        },
        beforeStep: function () {
          if (this.currentStep > 1) {
            this.currentStep --;
          }
        },
        saveInfo: function () {
          console.log(this.job)
          console.log(this.hobby)
          console.log(this.text)
        },
        resetInfo: function () {
          if (this.currentStep === 1) {
            this.job = ''
          } else if (this.currentStep === 2) {
            this.hobby = [];
          } else {
            this.text = ''
          }
        }
      },
      computed: {

      },
      mounted: function() {

      }
    });
  </script>
</body>
</html>