<!DOCTYPE html>
<html lang="en" style="font-size: 36px;">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="../css/reset.css">
  <link rel="stylesheet" href="../css/main.css">
  <title>Document</title>
</head>
<body>
  <div id="app">
    <p>
      <span>父组件的值</span>
      <span v-text="test"></span>
    </p>
    <test-component v-model="test"></test-component>
  </div>
  <script src="../vue.js"></script>
  <script src="../js/easy.js"></script>
  <script>
    // 尝试修改父组件传入的值会导致报错
    // vue.js:634 [Vue warn]: Avoid mutating a prop directly since the value will be overwritten whenever the parent component re-renders. Instead, use a data or computed property based on the prop's value. Prop being mutated: "value"
    // found in
    // ---> <TestComponent>
    //        <Root>
    Vue.component('test-component', {
      template: '<div><p><span>子组件获取的值：</span><span v-text="value"></span></p><span>尝试修改父组件的值:</span><input v-model="value"></div>',
      props: ['value'],
      data: function () {
        return {
          // value: ''
        }
      }
    })

    var app = new Vue({
      el: '#app',                                                                                          
      data: {
        test: 'test-text'
      },
      methods: {

      },
      computed: {

      },
      mounted: function() {

      }
    });
  </script>
</body>
</html>